body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../Home_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:609px;
    width:1000px;
    height:300px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:306px;
}

.u2 {
    position:absolute;
    left:2px;
    top:142px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:609px;
    width:1000px;
    height:300px
}

.u3_original {
    background-image: url('../Home_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:40px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:40px
}

.u5_text {
    position:absolute;
    left:10px;
    top:14px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:10px;
    top:14px;
    width:140px;
    height:16px
}

.u6 {
    position:absolute;
    left:751px;
    top:13px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:871px;
    top:13px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_original {
    background-image: url('../Home_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:250px;
    top:547px;
    width:500px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:250px;
    top:547px;
    width:500px;
    height:60px
}

.u10_original {
    background-image: url('../Home_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:500px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:506px;
}

.u11 {
    position:absolute;
    left:2px;
    top:242px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:500px
}

.u12_original {
    background-image: url('../General_Settings_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:40px;
    width:250px;
    height:250px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u13 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:40px;
    width:250px;
    height:250px
}

.u14 {
    position:absolute;
    left:10px;
    top:50px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../General_Settings_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:74px;
    width:250px;
    height:3px;
}

.u15 {
    position:absolute;
    left:0px;
    top:74px;
    width:250px;
    height:3px
}

.u16 {
    position:absolute;
    left:101px;
    top:90px;
    width:40px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:20px;
    top:93px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:147px;
    top:95px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:20px;
    top:128px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:147px;
    top:130px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:164px;
    top:197px;
    width:40px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:20px;
    top:199px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:112px;
    top:162px;
    width:40px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:20px;
    top:164px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:101px;
    top:124px;
    width:40px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_original {
    background-image: url('../Background_Covers_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:250px;
    top:40px;
    width:250px;
    height:250px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u28 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:250px;
    top:40px;
    width:250px;
    height:250px
}

.u29 {
    position:absolute;
    left:260px;
    top:50px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../Background_Covers_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:250px;
    top:74px;
    width:250px;
    height:3px;
}

.u30 {
    position:absolute;
    left:250px;
    top:74px;
    width:250px;
    height:3px
}

.u31_line {
    background-image: url('../Background_Covers_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:298px;
    top:115px;
    width:142px;
    height:5px;
}

.u31 {
    position:absolute;
    left:298px;
    top:115px;
    width:142px;
    height:5px
}

.u32_line {
    background-image: url('../Background_Covers_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:368px;
    top:111px;
    width:3px;
    height:14px;
}

.u32 {
    position:absolute;
    left:368px;
    top:111px;
    width:3px;
    height:14px
}

.u33 {
    position:absolute;
    left:273px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:273px;
    top:110px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:444px;
    top:110px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../Background_Covers_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:305px;
    top:159px;
    width:135px;
    height:5px;
}

.u36 {
    position:absolute;
    left:305px;
    top:159px;
    width:135px;
    height:5px
}

.u37 {
    position:absolute;
    left:270px;
    top:137px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:270px;
    top:154px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:445px;
    top:154px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../Background_Covers_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:305px;
    top:205px;
    width:135px;
    height:5px;
}

.u40 {
    position:absolute;
    left:305px;
    top:205px;
    width:135px;
    height:5px
}

.u41 {
    position:absolute;
    left:270px;
    top:180px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:270px;
    top:200px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:445px;
    top:200px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../Background_Covers_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:368px;
    top:155px;
    width:3px;
    height:14px;
}

.u44 {
    position:absolute;
    left:368px;
    top:155px;
    width:3px;
    height:14px
}

.u45_line {
    background-image: url('../Background_Covers_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:368px;
    top:201px;
    width:3px;
    height:14px;
}

.u45 {
    position:absolute;
    left:368px;
    top:201px;
    width:3px;
    height:14px
}

.u47_original {
    background-image: url('../Autoplay_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:500px;
    top:40px;
    width:250px;
    height:250px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u48 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:500px;
    top:40px;
    width:250px;
    height:250px
}

.u49_line {
    background-image: url('../Autoplay_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:500px;
    top:74px;
    width:250px;
    height:3px;
}

.u49 {
    position:absolute;
    left:500px;
    top:74px;
    width:250px;
    height:3px
}

.u50 {
    position:absolute;
    left:510px;
    top:50px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_original {
    background-image: url('../Autoplay_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u54 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_original {
    background-image: url('../Autoplay_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px
}

.u57 {
    position:absolute;
    left:45px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_original {
    background-image: url('../Autoplay_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u60 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_original {
    background-image: url('../Autoplay_files/u55_original.png');
}

.u61_container {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px
}

.u63 {
    position:absolute;
    left:597px;
    top:90px;
    width:40px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:520px;
    top:94px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:647px;
    top:94px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:520px;
    top:162px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:16px;
    top:0px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:669px;
    top:123px;
    width:43px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:520px;
    top:128px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_original {
    background-image: url('../Categories_files/u72_original.png');
}

.u72_container {
    position:absolute;
    left:750px;
    top:40px;
    width:250px;
    height:250px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u73 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:750px;
    top:40px;
    width:250px;
    height:250px
}

.u74_line {
    background-image: url('../Categories_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:750px;
    top:74px;
    width:250px;
    height:3px;
}

.u74 {
    position:absolute;
    left:750px;
    top:74px;
    width:250px;
    height:3px
}

.u75 {
    position:absolute;
    left:760px;
    top:50px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_original {
    background-image: url('../Categories_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u79 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_original {
    background-image: url('../Categories_files/u80_original.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px
}

.u82 {
    position:absolute;
    left:45px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_original {
    background-image: url('../Categories_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u85 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_original {
    background-image: url('../Categories_files/u80_original.png');
}

.u86_container {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px
}

.u88 {
    position:absolute;
    left:774px;
    top:158px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:890px;
    top:156px;
    width:80px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:890px;
    top:186px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:774px;
    top:189px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:774px;
    top:95px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:774px;
    top:126px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:865px;
    top:218px;
    width:33px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99 {
    position:absolute;
    left:774px;
    top:221px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:927px;
    top:221px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:865px;
    top:249px;
    width:33px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:774px;
    top:252px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:927px;
    top:252px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_original {
    background-image: url('../Perspective_files/u105_original.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:290px;
    width:250px;
    height:250px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u106 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:0px;
    top:290px;
    width:250px;
    height:250px
}

.u107_line {
    background-image: url('../Perspective_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:0px;
    top:324px;
    width:250px;
    height:3px;
}

.u107 {
    position:absolute;
    left:0px;
    top:324px;
    width:250px;
    height:3px
}

.u108 {
    position:absolute;
    left:10px;
    top:300px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_original {
    background-image: url('../Perspective_files/u110_original.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u112 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_original {
    background-image: url('../Perspective_files/u113_original.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px
}

.u115 {
    position:absolute;
    left:45px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_original {
    background-image: url('../Perspective_files/u116_original.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u118 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_original {
    background-image: url('../Perspective_files/u113_original.png');
}

.u119_container {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px
}

.u121_line {
    background-image: url('../Perspective_files/u121_line.png');
}

.u121_line {
    position:absolute;
    left:31px;
    top:369px;
    width:150px;
    height:5px;
}

.u121 {
    position:absolute;
    left:31px;
    top:369px;
    width:150px;
    height:5px
}

.u122_line {
    background-image: url('../Perspective_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:44px;
    top:365px;
    width:3px;
    height:14px;
}

.u122 {
    position:absolute;
    left:44px;
    top:365px;
    width:3px;
    height:14px
}

.u123 {
    position:absolute;
    left:21px;
    top:344px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:21px;
    top:364px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:184px;
    top:364px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_line {
    background-image: url('../Perspective_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:56px;
    top:416px;
    width:125px;
    height:5px;
}

.u126 {
    position:absolute;
    left:56px;
    top:416px;
    width:125px;
    height:5px
}

.u127 {
    position:absolute;
    left:21px;
    top:391px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:21px;
    top:411px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:184px;
    top:411px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_line {
    background-image: url('../Perspective_files/u130_line.png');
}

.u130_line {
    position:absolute;
    left:104px;
    top:411px;
    width:3px;
    height:14px;
}

.u130 {
    position:absolute;
    left:104px;
    top:411px;
    width:3px;
    height:14px
}

.u132_original {
    background-image: url('../Reflections_files/u132_original.png');
}

.u132_container {
    position:absolute;
    left:250px;
    top:290px;
    width:250px;
    height:250px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u133 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:250px;
    top:290px;
    width:250px;
    height:250px
}

.u134_line {
    background-image: url('../Reflections_files/u134_line.png');
}

.u134_line {
    position:absolute;
    left:250px;
    top:324px;
    width:250px;
    height:3px;
}

.u134 {
    position:absolute;
    left:250px;
    top:324px;
    width:250px;
    height:3px
}

.u135 {
    position:absolute;
    left:260px;
    top:300px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_original {
    background-image: url('../Reflections_files/u137_original.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u139 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_original {
    background-image: url('../Reflections_files/u140_original.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px
}

.u142 {
    position:absolute;
    left:45px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_original {
    background-image: url('../Reflections_files/u143_original.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u145 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_original {
    background-image: url('../Reflections_files/u140_original.png');
}

.u146_container {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px
}

.u148_line {
    background-image: url('../Reflections_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:330px;
    top:369px;
    width:110px;
    height:5px;
}

.u148 {
    position:absolute;
    left:330px;
    top:369px;
    width:110px;
    height:5px
}

.u149_line {
    background-image: url('../Reflections_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:358px;
    top:365px;
    width:3px;
    height:14px;
}

.u149 {
    position:absolute;
    left:358px;
    top:365px;
    width:3px;
    height:14px
}

.u150 {
    position:absolute;
    left:271px;
    top:344px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:270px;
    top:365px;
    width:59px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:445px;
    top:364px;
    width:36px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_line {
    background-image: url('../Reflections_files/u153_line.png');
}

.u153_line {
    position:absolute;
    left:280px;
    top:425px;
    width:160px;
    height:5px;
}

.u153 {
    position:absolute;
    left:280px;
    top:425px;
    width:160px;
    height:5px
}

.u154_line {
    background-image: url('../Reflections_files/u154_line.png');
}

.u154_line {
    position:absolute;
    left:293px;
    top:421px;
    width:3px;
    height:14px;
}

.u154 {
    position:absolute;
    left:293px;
    top:421px;
    width:3px;
    height:14px
}

.u155 {
    position:absolute;
    left:270px;
    top:400px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:270px;
    top:420px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:446px;
    top:420px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_original {
    background-image: url('../Slider_files/u159_original.png');
}

.u159_container {
    position:absolute;
    left:500px;
    top:290px;
    width:250px;
    height:250px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u160 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:500px;
    top:290px;
    width:250px;
    height:250px
}

.u161_line {
    background-image: url('../Slider_files/u161_line.png');
}

.u161_line {
    position:absolute;
    left:500px;
    top:324px;
    width:250px;
    height:3px;
}

.u161 {
    position:absolute;
    left:500px;
    top:324px;
    width:250px;
    height:3px
}

.u162 {
    position:absolute;
    left:510px;
    top:300px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_original {
    background-image: url('../Slider_files/u164_original.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u166 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_original {
    background-image: url('../Slider_files/u167_original.png');
}

.u167_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px
}

.u169 {
    position:absolute;
    left:45px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_original {
    background-image: url('../Slider_files/u170_original.png');
}

.u170_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u172 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_original {
    background-image: url('../Slider_files/u167_original.png');
}

.u173_container {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px
}

.u175_line {
    background-image: url('../Slider_files/u175_line.png');
}

.u175_line {
    position:absolute;
    left:530px;
    top:366px;
    width:160px;
    height:5px;
}

.u175 {
    position:absolute;
    left:530px;
    top:366px;
    width:160px;
    height:5px
}

.u176_line {
    background-image: url('../Slider_files/u176_line.png');
}

.u176_line {
    position:absolute;
    left:658px;
    top:362px;
    width:3px;
    height:14px;
}

.u176 {
    position:absolute;
    left:658px;
    top:362px;
    width:3px;
    height:14px
}

.u177 {
    position:absolute;
    left:520px;
    top:341px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:520px;
    top:361px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:696px;
    top:361px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_original {
    background-image: url('../Titles_files/u181_original.png');
}

.u181_container {
    position:absolute;
    left:750px;
    top:290px;
    width:250px;
    height:250px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:256px;
}

.u182 {
    position:absolute;
    left:2px;
    top:117px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:750px;
    top:290px;
    width:250px;
    height:250px
}

.u183_line {
    background-image: url('../Titles_files/u183_line.png');
}

.u183_line {
    position:absolute;
    left:750px;
    top:324px;
    width:250px;
    height:3px;
}

.u183 {
    position:absolute;
    left:750px;
    top:324px;
    width:250px;
    height:3px
}

.u184 {
    position:absolute;
    left:760px;
    top:300px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_original {
    background-image: url('../Titles_files/u186_original.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u187 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u188 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_original {
    background-image: url('../Titles_files/u189_original.png');
}

.u189_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:20px
}

.u191 {
    position:absolute;
    left:45px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_original {
    background-image: url('../Titles_files/u192_original.png');
}

.u192_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u193 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:20px
}

.u194 {
    position:absolute;
    left:11px;
    top:2px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_original {
    background-image: url('../Titles_files/u189_original.png');
}

.u195_container {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:44px;
    top:0px;
    width:40px;
    height:20px
}

.u198_original {
    background-image: url('../Home_files/u1_original.png');
}

.u198_container {
    position:absolute;
    left:0px;
    top:105px;
    width:1000px;
    height:300px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:306px;
}

.u199 {
    position:absolute;
    left:2px;
    top:142px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:0px;
    top:105px;
    width:1000px;
    height:300px
}

.u200_original {
    background-image: url('../Home_files/u3_original.png');
}

.u200_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:40px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u201 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:40px
}

.u202_text {
    position:absolute;
    left:10px;
    top:14px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:10px;
    top:14px;
    width:140px;
    height:16px
}

.u203 {
    position:absolute;
    left:751px;
    top:13px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:871px;
    top:13px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_original {
    background-image: url('../Home_files/u8_original.png');
}

.u205_container {
    position:absolute;
    left:250px;
    top:43px;
    width:500px;
    height:60px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:66px;
}

.u206 {
    position:absolute;
    left:2px;
    top:22px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:250px;
    top:43px;
    width:500px;
    height:60px
}

