/* Elements */
body {
    background-color: black;
}
header {
    position: relative;
    width: 500px;
    margin: 30px auto 50px;
}
header a {
    color: gray;
    position: absolute;
    z-index: 1000;
}
header a:hover {
    color: white;
    cursor: pointer;
}
header h1 a {
    color: white;
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    bottom: 29px;
    left: 445px;
    text-decoration: none;
}
header h2 {
    color: white;
    font-family: Arial, Sans-Serif;
    font-size: 16px;
    font-style: italic;
    position: absolute;
    bottom: 6px;
    left: 240px;
    width: 300px;
    font-weight: normal;
}

/* Classes */
.hidden {
    display: none;
}
.clear {
    clear: both;
}
.controls {
    width: 81%;
    margin: -230px auto 0;
}
.controls a {
    width: 26px;
    height: 19px;
    display: block;
    float: left;
	cursor: pointer;
	background: transparent url(../images/controls/arrows.png) no-repeat 0 0;
	text-indent: -9999px;
	position: relative;
	z-index: 100;
}
.controls a#previous {
    background-position: left top;
    margin-left: 3px;
}
.controls a#next {
    background-position: right top;
    float: right;
    margin-right: 3px;
}
.controls a#previous:hover {
    background-position: left -21px;
}
.controls a#next:hover {
    background-position: right -21px;
}
.coverflow-categories {
    margin: -81px auto 50px;
    width: 300px;
    color: gray;
    padding-left: 275px;
    font-size: 12px;
}
.coverflow-categories li {
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.coverflow-categories li:hover {
    text-decoration: underline;
}
.coverflow-selected-category, .cover-title {
    color: white;
}
.cover-title {
	font-family: Arial, Helvetica, sans-serif;
}
.ui-slider {
    cursor: default;
}

/* IDs */
#coverflow {
    width: 100%;
    height: 600px;
    background: black;
}
#add, #remove {
    position: absolute;
    display: block;
    font-weight: bold;
    font-size: 1em;
    padding: 4px;
    color: gray;
}
#add {
    top: 0;
    right: 15px;
}
#remove {
    top: -2px;
    right: 5px;
}
#play, #pause {
    position: absolute;
    top: 45px;
    right: 25px;
    width: 25px;
    height: 25px;
}
#previousCategory {
    bottom: 8px;
    right: 270px;
}
#nextCategory {
    right: 15px;
    bottom: 8px;
}
#play:hover, #pause:hover,
#add:hover, #remove:hover {
    cursor: pointer;
    color: white;
}
#demoLinks {
    width: 510px;
    margin: 0 auto;
}
#demoLinks a 
{
    width: 160px;
    display: block;
    margin: 5px;
    float: left;
    text-align: center;
    color: lightGray;
    font-family: Arial, Helvetica, sans-serif;
}
#demoLinks a:hover {
    color: white;
}
#demoLinks a img {
    width: 160px;
    border: 1px solid white;
    margin-bottom: 5px;
}
#pageMenu {
    position: absolute;
    top: 20px;
    left: 243px;
}
#pageMenu li, #pageMenu li a {
    display: block;
    float: left;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding-right: 5px;
    font-size: 10pt;
    text-decoration: none;
}
#pageMenu li a:hover {
    text-decoration: underline;
}
#pageMenu a.coverflow-selected-page {
    color: white;
}
