/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

/* Global Page Styles */
body {
    background: white;
    font-size: 100%;
}
h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}
div.wrapper {
	height: 1000px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 100px auto 0;
}



/* Override/Add to Default Coverflow Styling
----------------------------------------*/
.coverflow {
    width: 100%;
    height: 100%;
    background: #fff;
}

/* Categories List */
.coverflow-categories {
    width: 443px;
    color: #666;
    background: #eee;
    padding: 18px 8px;
    z-index: 100;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #b9b9b9;
    margin-bottom: 50px;
}
.coverflow-categories li {
    padding: 8px;
    margin: 0 9px 0 0;
    color: #666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.coverflow-categories .coverflow-selected-category {
    color: #fff;
    background: #666;
    border: 1px solid #555;
}

/* Catagory Navigation Arrows */
.category-arrow-control {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 302px;
}
.category-arrow-control a {
    width: 34px;
    height: 71px;
    display: block;
    text-indent: -9999px;
    background: url(../images/ui/controls-light.png) no-repeat 0 -99px;
    position: relative;
    z-index: 999;
    float: left;    
}
.category-arrow-control a#nextCategory {
    background-position: -50px -99px;
    float: right;
}
div.cover-title {
    top: 32%;  /* Cover Title Styling  */
    color: #333;
}

/*Slider and Arrows*/
.ui-slider { 
    margin-top: 213px; 
}
.ui-slider, .ui-slider .ui-slider-handle, .ui-slider .ui-slider-handle:hover {
    border: 1px solid #b9b9b9;
}
.ui-slider .ui-slider-handle {
background-color: #000;
background-image: linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
background-image: -o-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
background-image: -moz-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
background-image: -webkit-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
background-image: -ms-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.60, #b9b9b9),
	color-stop(0.60, #ddd)
);
}
div.slider-controls {
    position: relative;
    top: 682px;
    width: 82.6%;
    margin: 0 auto;
}
div.slider-controls a {
    width: 24px;
    height: 19px;
    display: block;
    float: left;
	cursor: pointer;
	background: transparent url(../images/ui/controls-light.png) no-repeat 0 0;
	text-indent: -9999px;
	position: relative;
	z-index: 100;
}
div.slider-controls a#prevCover {
    background-position: left -185px;
    margin-left: 2px;
}
div.slider-controls a#nextCover {
    background-position: right -185px;
    float: right;
}
div.slider-controls a#prevCover:hover {
    background-position: left -206px;
}
div.slider-controls a#nextCover:hover {
    background-position: right -206px;
}

/* Play and Pause Control */
.play-pause-control {
    width: 450px;
    margin: 0 auto;
    position: relative;
}
.play {
    width: 36px;
    height: 36px;
    display: block;
    text-indent: -9999px;
    background: url(../images/ui/controls-light.png) no-repeat 0 -49px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 200;
}
.pause {
    background: url(../images/ui/controls-light.png) no-repeat -49px -49px;
}