/* Elements */
body {
    background-color: white;
}
header {
    position: relative;
    width: 500px;
    margin: 30px auto 50px;
}
header a {
    color: darkGray;
    position: absolute;
    z-index: 1000;
}
header a:hover {
    color: black;
    cursor: pointer;
}
header h1 a {
    color: black;
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    bottom: 29px;
    left: 445px;
    text-decoration: none;
}
header h2 {
    color: black;
    font-family: Arial, Sans-Serif;
    font-size: 16px;
    font-style: italic;
    position: absolute;
    bottom: 6px;
    left: 240px;
    width: 300px;
    font-weight: normal;
}

/* Classes */
.category-controls {
    width: 570px;
    margin: 0 auto;
    position: relative;
}
.category-controls a {
    cursor: pointer;
    font-size: 25px;
    display: block;
    margin-top: -15px;
    color: darkGray;
}
.category-controls a:hover {
    color: black;
}
.coverflow-categories {
    width: 500px;
    margin: -30px auto 30px;
    color: #666;
    background: #eee;
    padding: 18px 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #b9b9b9;
}
.coverflow-categories li {
    font-family: Arial, Sans-Serif;
    padding: 6px 7px;
    margin: 0 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.coverflow-selected-category {
    color: #fff;
    background: #666;
    border: 1px solid #555;
}
.cover-title {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 510px;
}
.cover-title h1 {
    font-size: 20px;
}
.play {
    background: url(../../../images/controls/controls-light.png) no-repeat -49px -49px;
}
.pause {
    background: url(../../../images/controls/controls-light.png) no-repeat 0 -49px;
}
.slider-controls {
    position: relative;
    top: -30px;
    width: 81%;
    margin: 0 auto;
}
.slider-controls a {
    width: 26px;
    height: 19px;
    display: block;
    float: left;
	cursor: pointer;
	background: transparent url(../../../images/controls/arrows-light.png) no-repeat 0 0;
	text-indent: -9999px;
	position: relative;
	z-index: 100;
}
.slider-controls a#previous {
    background-position: left top;
    margin-left: 3px;
}
.slider-controls a#next {
    background-position: right top;
    float: right;
    margin-right: 3px;
}
.slider-controls a#previous:hover {
    background-position: left -21px;
}
.slider-controls a#next:hover {
    background-position: right -21px;
}
.ui-slider { 
    margin-top: 200px;
}
.ui-slider, .ui-slider .ui-slider-handle, .ui-slider .ui-slider-handle:hover {
    border: 1px solid #b9b9b9;
}
.ui-slider .ui-slider-handle {
    background-color: black;
    background-image: linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
    background-image: -o-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
    background-image: -moz-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
    background-image: -webkit-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
    background-image: -ms-linear-gradient(bottom, #b9b9b9 60%, #ddd 60%);
    background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0.60, #b9b9b9), color-stop(0.60, #ddd));
}

/* IDs */
#coverflow {
    width: 100%;
    height: 600px;
    background: white;
    position: relative;
}
/* prevents initial flash of images when page loads */
#coverflow img {
    visibility: hidden;
}
#playPause {
    display: block;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    cursor: pointer;
}
#previousCategory {
    float: left;
}
#nextCategory {
    float: right;
}